{% extends "expenses.html" %}
{% block content %}
<div class="registration-form">
    <div class="container">
  <form method="POST" class="registration">
    {{ form.csrt_token}}
  <table class="form">
    <tr>
      <td>{{ form.expense.label}}</td>
      <td>{{form.expense}} {{form.hidden_tag()}}</td>
  </tr>
  <tr>
    <td>{{ form.date.label}}</td>
    <td>{{form.date(class='datepicker')}} {{form.hidden_tag()}}</td>
  </tr>
  <tr>
    <td>{{ form.category.label}}</td>
    <td>{{form.category}} {{form.hidden_tag()}}</td>
  </tr>
  <tr>
    <td>{{ form.note.label}}</td>
    <td>{{form.note}} {{form.hidden_tag()}}</td>
  </tr>
  <tr>
    <td>{{ form.currency.label}}</td>
    <td>{{form.currency}} {{form.hidden_tag()}}</td>
  </tr>
  <tr>
    <td>{{ form.amount.label}}</td>
    <td>{{form.amount}} {{form.hidden_tag()}}</td>
  </tr>
  <tr>
    <td>
    <p>
        {{form.submit()}}
    </p>
    </td>
  </tr>
  </table>
  </form>
  </div>
  </div>
  {% with messages = get_flashed_messages() %}
     {% if messages %}
     {% for message in messages %}
     <script>
        alert("{{ message }}")
      </script>
      {% endfor %}
     {% endif %}
  {% endwith %}
{% endblock %}