{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<table>
            
    <tbody>
        <th>UID</th>
            <th>Email</th>
            <th>Username</th>
            <th>Phone Number</th>
            <th>Password</th>

        {% for user in users %}
        
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td >{{user[3]}}</td>
            <td>{{user[4]}}</td>
        </tr>
        {% endfor %}
        </tbody>
</table><br><br>
  {% with messages = get_flashed_messages() %}
   {% if messages %}
   {% for message in messages %}
   <script>
      alert("{{ message }}")
    </script>
    {% endfor %}
   {% endif %}
{% endwith %}
{% endblock %}

